.delete-button-small
	outline none
	padding 0
	border none
	background none
	background-image url(icons-dir'delete.png')
	width 8px
	height 10px
	background-size @width @height
	cursor pointer
	margin-left 5px