.points-list__object-row
	padding 2px 0
	cursor pointer
	// styling for hover:
	add-object-icon-offset = 15px
	margin-left -1 * add-object-icon-offset
	list-style none
	padding-left add-object-icon-offset
	background url(icons-dir'object-marker.png') no-repeat left top 6px
	color boulder
	& .edit-button-small, & .delete-button-small
		display: none
	&:hover
		background url(icons-dir'object-marker-hover.png') no-repeat left top 6px
		color silver
	&:hover .edit-button-small
		display inline-block
		background-image url(icons-dir'edit-hover.png')
	&:hover .delete-button-small
		display inline-block
		background-image url(icons-dir'delete-hover.png')
	&>input
		width 100px
		font-size 14
		background-color transparent
		border-style none
		outline none
		color boulder
		-webkit-text-fill-color boulder
	&:hover>input
		color silver
		-webkit-text-fill-color silver