.edit-button-small
	outline none
	padding 0
	border none
	background none
	width 9px
	height 9px
	background-image url(icons-dir'edit.png')
	background-size @width @height
	cursor pointer
	margin-left 5px