// Paths:

root-dir = '../'
images-dir = root-dir'images/'
icons-dir = images-dir'icons/'

// Colors:

boulder = #7B7B7B
mine-shaft = #333333
silver = #CCCCCC

// Reset:

html, body
{
	margin 0
    padding 0
    width 100%
    height 100%
    backgouund-color mine-shaft
}