.points-list__point-row
	padding 2px 0
	margin-left 10px
	cursor pointer
	//	styling row for being hovered:
	point-row-offset-horizontal = 7px
	list-style none
	margin-left -1 * point-row-offset-horizontal
	padding-left 10 + point-row-offset-horizontal
	background url(icons-dir'point-marker.png') no-repeat left top 5px
	& .edit-button, & .delete-button
		display none
	&:hover
		background url(icons-dir'point-marker-hover.png') no-repeat left top 5px
	&:hover .edit-button
		display inline-block
		background-image url(icons-dir'edit-hover.png')
	&:hover .delete-button
		display inline-block
		background-image url(icons-dir'delete-hover.png')
	&>input
		font-family Arial
		color boulder
		-webkit-text-fill-color boulder
		font-size 17
		max-width 90px
		background-color transparent
		border-style none
		outline none
		cursor pointer
	&:hover>input 
		color silver
		-webkit-text-fill-color silver
	& input:focus 
		cursor text
	