.points-list
	position absolute
	top 10
	right 10
	margin 0
	float right
	width 170px
	padding 25px
	border-radius: 10 px
	background-color rgba(0, 0, 0, 0.5)
	list-style-image url(icons-dir'point-marker.png')
	font-family Arial
	color boulder